@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --maxw: 1024px;
  --margengeneral: 0 auto;
  --fon1: "Roboto", sans-serif;
  --ColorPrincipal: #f0a83e;
  --ColorSecundario: #3c2313;
  --ColorTerceario: #222222;
  --ColorCuarteario: #666666;
  --ColorQuinteario: #8a8787;
  --colorSexteario: #ffffff;
  --ColorfondImg: #e0e0df;
  --backgroundImg: rgb(236, 221, 221);
  --Pshadow1: 0px 10px 7px rgb(0 0 0 / 25%);
  --Pshadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fon1);
  font-weight: 300px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

/* ****************HEADER********************** */

.header-contenedor {
  margin: var(--margengeneral);
  max-width: var(--maxw);
}
/* ****************HEADER TOP****************** */
.header-top {
  display: flex;
  background-color: #222222;
  height: 40%;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  height: 20px;
}

.header-top h3 {
  color: #f3f3f3;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.header-top li {
  color: #f3f3f3;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

/* ****************HEADER BOTTOM****************** */

.header-bottom {
  display: flex;
  background-color: #f0a83e;
  height: 60%;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px;
  height: 62px;
}

.header-bottom .logo h1 {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.header-bottom .logo span {
  color: var(--colorSexteario);
}

.header-bottom .Menuhamburguesa i {
  display: none;
}

.narvarprincipal ul {
  display: flex;
}

.narvarprincipal li {
  margin: 0 20px 0 0;
}
.narvarprincipal a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-decoration: auto;
}

/* *******************MAIN***************************** */

.maincontenedor {
  margin: var(--margengeneral);
  max-width: var(--maxw);
}

/****BANER***** */

.banner {
  height: 409px;
  display: flex;
  background-color: var(--ColorfondImg);
  background: url("../img/bowl-and-pet-daities-on-green-background1.png")
    no-repeat center;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
}

.bannerContenedor {
  text-align: center;
  position: relative;
  right: 5%;
}
.bannerContenedor p {
  margin: 10px 0 10px 0;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: var(--ColorSecundario);
}
.bannerContenedor h4 {
  margin: 10px 0 10px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.bannerContenedor a {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: auto;
  background-color: transparent;
  background-color: #f0a83e;
  color: #ffffff;
}

/* ***************************PRODUCTO DESTACADO**************** */
.ProductosDestacados {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.ProductosDestacados h2 {
  color: var(--ColorSecundario);
}

.ProductosDestacadosP {
  display: flex;
  flex-direction: row;
}
.ProductosDestacadosP p {
  margin-right: 15px;
  color: #666666;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.ProductosDestacadosComederos {
  display: flex;
}
.ProductosDestacadosComederos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 40px 40px 40px;
}

.ProductosDestacadosComederos h2 {
  margin: 0;
  margin: 0;
  color: var(--ColorSecundario);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.ProductosDestacadosComederos h3 {
  margin: 0;
  color: #f0a83e;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

/* **************Formulario*************** */

.mainformulario {
  margin: var(--margengeneral);
  max-width: var(--maxw);
}
.mainformulario .maincontenedorform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
}
.mainformulario .maincontenedorform h2 {
  margin-bottom: 20px;
  color: var(--ColorSecundario);
  font-family: var(--fon1);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}

.mainformulario .maincontenedorform .datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mainformulario .maincontenedorform .datos input {
  padding: 5%;
  background-color: var(--ColorSecundario);
  border-radius: 15px;
  color: #ffffff !important;
  width: 340px;
  height: 40px;
  border: none;
}

.mainformulario .maincontenedorform .envio {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.mainformulario .maincontenedorform .envio input {
  border-radius: 15px;
}
.mainformulario .maincontenedorform .envio .reset {
  background-color: var(--ColorQuinteario);
  color: var(--colorSexteario);
  margin: 15px 0 15px 0;
  width: 110px;
  height: 34px;
  border: none;
}

.mainformulario .maincontenedorform .envio .enviar {
  background-color: var(--ColorPrincipal);
  color: var(--colorSexteario);
  margin: 15px 0 15px 0;
  width: 110px;
  height: 34px;
  border: none;
}

/* **************FormularioAD*************** */

.formularioAD {
  margin: var(--margengeneral);
  max-width: var(--maxw);
  background-color: var(--ColorPrincipal);
}
.formularioAD .maincontenedorformAD {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.formularioAD .maincontenedorformAD .formularioADleft {
  display: flex;
  align-items: center;
  color: var(--colorSexteario);
  gap: 10px;
}
.formularioAD .maincontenedorformAD .formularioADleft i {
  font-size: 30px;
}
.formularioAD .maincontenedorformAD .formularioADright {
  display: flex;
  align-items: center;
}
.formularioAD .maincontenedorformAD .formularioADright .formularioADrightmail {
  width: 271px;
  height: 40px;
  background: var(--colorSexteario);
  border-radius: 15px;
  border: none;
  padding: 15px;
}

.formularioAD
  .maincontenedorformAD
  .formularioADright
  .formularioADrightsuscribirme {
  background: var(--ColorSecundario);
  color: var(--colorSexteario);

  border: none;
  padding: 5px;

  width: 70px;
  height: 34px;

  border-radius: 15px;

  font-family: var(--fon1);
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
}

/* *************FOOTER******************************** */
.footercontenedor {
  margin: var(--margengeneral);
  max-width: var(--maxw);
  height: 100%;
}

footer {
  height: 284px;
}

/* *************FOOTER TOP***************************** */
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c2313;
  height: 100%;
}

/* **************FOOTER TOP Redes Sociales*********** */

.footer-sociales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.conticonsocial {
  display: flex;
  align-items: center;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a8787;
  border-radius: 50%;
  border: 5px solid #786960;
  height: 50px;
  width: 50px;
  margin: 20px 20px 0px 60px;
}
.socialIcon i {
  font-size: 30px;
  color: white;
}

.socialinfo h2 {
  color: white;
  margin: 0;
}

.socialinfo h5 {
  color: #8a8787;
  margin: 0;
}

/* *************FOOTER TOP Logo************************* */
.footer-logo {
  border: var(--miborder);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8%;
  height: 100%;
}

.footer-logo h2 {
  color: white;
}
.footer-logo span {
  color: #f0a83e;
}

/* ****************FOOTER BOTTOM*********************** */

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222222;
  height: 10%;
  /* height: 20px; */
}

.footer-bottom h6 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
}
/* ************************************************* */
/* ****************MEDIA QUERIES***************** ****/
/* ************************************************* */

@media screen and (min-width: 768px) {
  /* ***********MAIN*************** */
  .banner {
    background-position: initial;
  }
  .bannerContenedor {
    right: 2%;
  }
  .bannerContenedor p {
    font-size: 1.5rem;
  }

  /* **************FOOTER************** */

  .footer-top {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* ********************HEADER*************** */
  .header-top {
    display: none;
  }

  .header-bottom .logo h1 {
    font-size: 1rem;
  }

  .header-bottom .Menuhamburguesa i {
    display: block;
    color: var(--colorSexteario);
  }
  .header-bottom .Menuhamburguesa nav {
    display: none;
  }

  /* ****************MAIN**************** */
  .banner {
    justify-content: center;
    background-position: initial;
  }
  .bannerContenedor {
    text-align: end;
    right: 0;
  }
  .bannerContenedor p {
    font-size: 25px;
    padding: 12px 38px 13px 39px;
  }
  .bannerContenedor a {
    margin-right: 5%;
  }

  .ProductosDestacados h2 {
    margin: 0 5% 0 5%;
    text-align: center;
  }

  .ProductosDestacadosComederos {
    flex-direction: column;
  }

  /* ********Formulario********* */
  .mainformulario .maincontenedorform h2 {
    font-size: 40px;
  }
  .mainformulario .maincontenedorform form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainformulario .maincontenedorform .envio .reset {
    width: 199px;
    height: 45px;
  }
  .mainformulario .maincontenedorform .envio .enviar {
    width: 199px;
    height: 45px;
  }

  /* ********FormularioAD*************** */
  .formularioAD {
    display: flex;
    justify-content: space-around;
  }

  .formularioAD .maincontenedorformAD {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
  }

  .formularioAD .maincontenedorformAD .formularioADleft {
    gap: 20px;
    margin-bottom: 3%;
  }

  .formularioAD
    .maincontenedorformAD
    .formularioADright
    .formularioADrightsuscribirme {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }

  /* **************FOOTER***************** */
  .footer-top {
    flex-direction: column-reverse;
  }
  .footer-sociales {
    margin: 3%;
  }

  .footer-logo {
    position: relative;
    top: 10px;
  }
}
